p{
    color: #707070;
    font-family: 'Bungee Inline', cursive;
    font-size: 80px;
    text-align: center;
    margin: auto;
    width: 1300px;
}

.caja-cuadros{
    width: 1300px;
    margin: auto;
    
    display: flex;
}

.caja-cuadros div{
    width: 80px;
    height: 70px;
    margin: auto;
    padding: 15px;
    padding-top: 20px;
    
    background-color: #310f40;
    border-radius: 8px;
    
    color: #fff;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}

.caja-cuadros-dos{
    width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
}

.caja-cuadros-dos div{
    width: 80px;
    height: 70px;
    margin: auto;
    margin-top: 30px;
    padding: 15px;
    padding-top: 20px;
    
    background-color: #310f40;
    border-radius: 8px;
    
    color: #fff;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}

.caja-rectangulo{
    width: 1300px;
    margin: auto;
    margin-top: 50px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.uno div{
    width: 600px;
    height: 50px;
    margin: 15px;
    padding: 15px;
    padding-top: 7px;
    
    background-color: #9ad2d9;
    border-radius: 8px;
    
    color: #fff;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}

.dos div{
    width: 600px;
    height: 50px;
    margin: 15px;
    margin-left: 0px;
    padding: 15px;
    padding-top: 7px;
    
    background-color: #d9644a;
    border-radius: 8px;
    
    color: #fff;
    font-size: 50px;
    font-family: monospace;
    text-align: center;
}


